<div class="section-hello">
  <div class="section-hello__box">
    <h1 class="section-hello__title">TIC TAC TOE</h1>
    <!-- <img
      class="section-hello__elips elips1"
      src="../../assets/misc-elipse.png"
      alt=""
    />
    <img
      class="section-hello__elips elips2"
      src="../../assets/misc-elipse.png"
      alt=""
    />
    <img
      class="section-hello__elips elips3"
      src="../../assets/misc-elipse.png"
      alt=""
    />
    <img
      class="section-hello__elips elips4"
      src="../../assets/misc-elipse.png"
      alt=""
    /> -->
    <a class="section-hello__start">START</a>
    <div class="section-hello__background-image"></div>
    <span class="star star1"></span>
    <span class="star star2"></span>
    <span class="star star3"></span>
    <span class="planet planet1"></span>
    <span class="planet planet2"></span>
  </div>
</div>
